/*global */

*{
    box-sizing: border-box;
}

html{
    font-size:14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(0, 0, 0);
    color: #fefefe;
}

a{
    color: #ff0042;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size: 16;
    font-weight: bolder;
}

/* Homepage.html*/

.topnav{
    overflow: hidden;
    background-color: gray;
}

.topnav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: white;
    color: black;
    padding: 15px
}

.topnav input[type=text]{
  float: right;
  padding: 10px;
  border: none;
  margin-top: 5px;
  margin-right: 100px;
  margin-bottom: 10px;
  font-size: 13px;
}

.topnav .search-container button{
    float:right;
    padding: 8px;
    margin-top: 5px;
    margin-right: -247px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.container{
    margin: 20px;
    padding: 20px;

}

.subforum{
    margin-top: 20px;
}

.subforum-title{
    background-color: gray;
    padding: 5px;
    border-radius:5px;
    margin: 4px;
}

.subforum-description *{
    margin-block: 0;
}

p{
    font-size: 15px ;
}

.subforum-row{
    display: grid;
    grid-template-columns: 10% 60% 10% 20%;
}

.subform-column{
    padding: 10px;
    margin-bottom: 4px;
    border-radius: 5px;
    background-color: #111314;
}

center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subfourm-icon i{
    font-size: 45px;
}

.subforum-info{
    padding: 10px;
    margin-top: 0px;
}

/*Search Box*/

.searchbar{
    margin-top: 20px;
    box-shadow: 1px 2px 3px #52075b;

}

.searchbar select{
    padding: 9px;
    margin-top: 4px
}
.searchbar input{
    padding:10px;
    float: left;
    clear: both;
   direction:ltr;
}

.searchbar button{
    padding: 10px;
    background-color: #fff;

}


/*INDIVIDUAL POSTS*/
.post-content{
background-color: rgb(124, 69, 69);
padding: 5px;
border-radius: 5px;
margin: 4px;
}

.post-title{
    background-color: gray;
    padding: 5px;
    border-radius:5px;
    margin: 4px;
}

.post-author{
    margin-top: -10px;
}

.post-content a{
    color: #fefefe;
    text-align: left;
}
/*Comment Button*/
textarea{
    height: 50px;
    border: none;
    border-bottom: 1px solid #aaa;
    background-color: white;
    resize: none;
    transition: .5s;
}


/*Footer*/
.footerarea {
background-color: rgb(124, 69, 69);
padding: 5px;
border-radius: 5px;
margin: 4px;
}

.footerarea{
    overflow: hidden;
    background-color: gray;
}

.footerarea f{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.footerarea f:hover{
    background-color: white;
    color: black;
    padding: 15px
}

/*Image*/
img{
    padding: 5px;
}

.mainheading{
    font-size: 30px;
    margin: 10px;
    text-align: left;
    color: darkorange;
}

.smallbutton{
    font-size: 15px;
    margin: 10px;
    padding-right: 5px;
    text-align: right;
    color: black;
}

header{
    position: variable;
    width: 100%;
    text-align: center;
    background: gray;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    color: white;
    top: 0;
    font-size: 30px;
}


    /* Set additional styling options for the columns */
.column {
    float: left;
}

    /* Set width length for the left, right and middle columns */
.left {
    float: left;
    width: 30%;
}

.middle {
    float: center;
    width: 30%;
}
    
.right {
    float: right;
    width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

trending{
    border-color: red;
    border-style: solid;
    border-width: 2px;
}