/*global */

*{
    box-sizing: border-box;
}

html{
    font-size:14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: #fefefe;
}



a{
    color: #77B2FF;
    font-weight: bolder;
    text-decoration: none;
}


h1{ 
    
    font-size: 16;
    font-weight: bolder;
}

/* Homepage.html*/

.topnav{
    overflow: hidden;
    background-color: gray;
    opacity: 0.0;
}

.topnav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: white;
    color: black;
    padding: 15px
}

.topnav input[type=text]{
  float: right;
  padding: 10px;
  border: none;
  margin-top: 5px;
  margin-right: 100px;
  margin-bottom: 10px;
  font-size: 13px;
}

.topnav .search-container button{
    float:right;
    padding: 8px;
    margin-top: 5px;
    margin-right: -247px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.container{
    margin: 20px;
    padding: 20px;

}

.subforum{
    margin-top: 20px;
}

.subforum-title{
    background-color: gray;
    background: rgba(0,0,0,0.3);
    padding: 5px;
    border-radius:5px;
    margin: 4px;
}

.subforum-description *{
    margin-block: 0;
    text-overflow: ellipsis;
}

p{
    font-size: 15px ;
}

.subforum-row{
    display: grid;
    grid-template-columns: 10% 60% 10% 20%;
}

.subform-column{
    padding: 10px;
    margin-bottom: 4px;
    border-radius: 5px;
    background-color: #111314;
    background: rgba(0,0,0,0.3);
    margin-left: 1px;
}

center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon{
    background: rgba(0,0,0,0.3);
    padding: 0px;
}

.subforum-info{
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 1px;
    border-radius: 5px;
    background-color: #111314;
    background: rgba(0,0,0,0.3);
}

/*Search Box*/

.searchbar{
    margin-top: 20px;
    box-shadow: 1px 2px 3px #52075b;

}

.searchbar select{
    padding: 9px;
    margin-top: 4px
}
.searchbar input{
    padding:10px;
    float: left;
    clear: both;
   direction:ltr;
}

.searchbar button{
    padding: 10px;
    background-color: #fff;

}


/*INDIVIDUAL POSTS*/
.post-content{
background-color: rgb(124, 69, 69);
background: rgba(0,0,0,1);
padding: 5px;
border-radius: 5px;
margin: 4px;
overflow-wrap:break-word;
}

.post-title{
    background-color: gray;
    background: rgba(0,0,0,0.3);
    padding: 5px;
    border-radius:5px;
    margin: 4px;
}

.post-author{
    margin-top: -10px;
}

.post-content a{
    color: #fefefe;
    text-align: left;
} 
/*New Post Page*/

.make-post{
    background-color: rgb(104, 75, 89);
    background: rgba(0,0,0,0.3);
    padding: 5px;
    border-radius:5px;
    margin: 4px;
}
.create-post{
    text-align: center;
}

#title{
height: 40px;
width: 250px;
vertical-align: top;
}

#content{
    border: 10px solid #aaa;
    border-radius: 10px;
    background-color: white;
    background: rgba(0,0,0,0.3);
    width: 750px;
    height: 500px;
    padding: 10px;
    color: white;
}

.make-post{
    margin-left: 10px;
    text-align: left;
}

/*Footer*/
.footerarea {
background-color: rgb(124, 69, 69);
background: rgba(0,0,0,0.3);
padding: 5px;
border-radius: 5px;
margin: 4px;
color: #fff;
}

.footerarea{
    overflow: hidden;
    background-color: gray;
    background: rgba(0,0,0,0.3);
    color: #fff;
}

.footerarea f{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
}

.footerarea f:hover{
    background-color: white;
    background: rgba(0,0,0,0.3);
    color: black;
    padding: 15px;
    color: #fff;
}

.copyright{
    text-align: right;
    size: 15px;
}

/*Image*/
img{
    padding: 5px;
    opacity: 1;
}

.mainheading{
    font-size: 30px;
    margin: 10px;
    text-align: left;
    color: darkorange;
    opacity: 1;
}

.smallbutton{
    font-size: 15px;
    margin: 10px;
    padding-right: 5px;
    text-align: right;
    color: black;
    opacity: 1;
}

header{
    position: variable;
    width: 100%;
    text-align: center;
    background-color: gray;
    background: rgba(0,0,0,0.3);
    border-color: red;
    border-style: solid;
    border-width: 2px;
    color: white;
    top: 0;
    font-size: 30px;
    border-radius: 10px;
}


    /* Set additional styling options for the columns */
.column {
    float: left;
}

    /* Set width length for the left, right and middle columns */
.left {
    float: left;
    width: 30%;
}

.middle {
    float: center;
    width: 30%;
}
    
.right {
    float: right;
    width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

trending{
    border-color: red;
    border-style: solid;
    border-width: 2px;
}

#faq-box{
    background-color: white;
    width: 750px;
    height: 500px;
    padding: 10px;
}

.collapsible {
	background-color: gray;
    background: rgba(0,0,0,0.3);
	  color: gray;
	  cursor: pointer;
	  padding: 18px;
	  width: 100%;
	  border: none;
	  text-align: left;
	  outline: none;

}

.active, .collapsible:hover {
	background-color: gray;
    background: rgba(0,0,0,0.3);
}

.content {
	background-color: gray;
    background: rgba(0,0,0,0.3);
  padding: 0 18px;
  display: none;
  overflow: hidden;

  border: none;
}