.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: -600px;
  
}
.carousel-control-next,
.carousel-control-prev{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -600px;
}

.bg-image{
  background-position: fixed;
  background-image: url('https://ae01.alicdn.com/kf/HTB1CKe5QNTpK1RjSZFKq6y2wXXaC/LIFE-MAGIC-BOX-Black-Brick-Wall-for-Photo-Background-for-Photo-Sessions-for-Photography-Birthday-Backdrops.jpg_Q90.jpg_.webp'); 
  height: 100%;
  
}